* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #523701;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.site-title {
  display: flex;
  align-items: center;
  font-size: 1.8rem !important;
  /* font-weight: bold; */
  font-family: cursive;
  color: rgb(112, 15, 15);
  text-decoration: none;
  gap: 0.5rem;
  /* Spacing between logo and text */
}

.logo {
  height: 40px;
  /* Adjust size as needed */
  width: auto;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav li {
  padding: 0.5rem 2rem;
  border-radius: 2px;
  transition: background 0.3s ease-in-out;
}

.nav li:hover {
  background-color: #ffb347;
}

.nav li.active {
  background-color: #e67300;
  font-weight: bold;
}
